fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
redis
aio-pika
numpy
av
aiortc
faster-whisper
edge-tts
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
python-dotenv
